.forgot {
  background-image: url("https://images.unsplash.com/photo-1527049979667-990f1d0d8e7f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=633&q=80");
  width: 100%;
  z-index: -1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}
.forgot_logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}
.forgot_container {
  width: 350px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #1c1c1c;
  color: #fff;
  border: 1px solid;
  padding: 20px;
}
.forgot_container h1 {
  font-weight: 500;
  margin-bottom: 20px;
}
/* .l_container form h5 {
  margin-bottom: 5px;
} */
.forgot form input {
  height: 30px;
  margin-bottom: 10px;
  background-color: #fff;
  width: 98%;
  margin-top: 10px;
}
/* .login_container p {
  margin-top: 15px;
  font-size: 12px;
} */
.forgot_button {
  border-radius: 2px;
  height: 30px;
  border: 1px solid;
  cursor: pointer;
  font-size: medium;
}
